*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #273B09;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    color: white;
    font-size: 50px;
}

.game{
    
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    width: 19vmin;
    height: 19vmin;
    border: none;
    border-radius: 5vmin;
    font-size: 40px;
    color: black;
    background-color: aqua;
    box-shadow: 4px 4px 4px rgba(126, 136, 125, 0.4);
}

.new-btn{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 4px 4px 4px rgba(126, 136, 125, 0.4);
}

#msg
{
    color: white;
    font-size: 40px;
}
.hide{
    display: none;
}